In [7]:
import pandas as pd
import seaborn as sns

#read csv file
customer_data = pd.read_csv("hw_1_customers.csv")

In [8]:
#Info of the Customer Dataset
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [9]:
print(customer_data)

      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]

In [11]:
#take gender data
gender_data = pd.DataFrame(customer_data["Gender"])

#count Male/Female
#by caculate frequency of data multiple data length
count_Male = gender_data.value_counts(normalize=True)["Male"] * len(gender_data)
count_Female = gender_data.value_counts(normalize=True)["Female"] * len(gender_data)

#print
print("Male: ",round(count_Male))
print("Female: ",round(count_Female))

Male:  814
Female:  1186

In [18]:
#group by Profession
group_Profession = customer_data.groupby('Profession')
#count the average/maximum of every Prefession
Income_result = group_Profession['Annual Income ($)'].agg(['count','mean','max'])
print("Profession Total Number, Average and Maximum Income :")
print(round(Income_result))

Profession Total Number, Average and Maximum Income :
               count      mean     max
Profession
Artist           612  108777.0  189709
Doctor           161  111573.0  189672
Engineer         179  111161.0  189974
Entertainment    234  110650.0  186882
Executive        153  113770.0  189630
Healthcare       339  112574.0  189689
Homemaker         60  108759.0  188696
Lawyer           142  110996.0  189650
Marketing         85  107994.0  186069

In [20]:
group_Profession = customer_data.groupby('Profession')
Income_result_Spend = group_Profession['Spending Score (1-100)'].agg(['mean','max'])
Income_result_FamiSize = group_Profession['Family Size'].agg(['mean','max'])
print("Profession Average and Maximum Spend :")
print(round(Income_result_Spend))
print("Profession Average and Maximum Family Size :")
print(round(Income_result_FamiSize))

Profession Average and Maximum Spend :
               mean  max
Profession
Artist         53.0  100
Doctor         52.0  100
Engineer       49.0   99
Entertainment  53.0  100
Executive      50.0   98
Healthcare     51.0  100
Homemaker      46.0  100
Lawyer         49.0  100
Marketing      49.0  100
Profession Average and Maximum Family Size :
               mean  max
Profession
Artist          4.0    8
Doctor          4.0    7
Engineer        4.0    8
Entertainment   4.0    7
Executive       4.0    7
Healthcare      4.0    8
Homemaker       4.0    7
Lawyer          4.0    9
Marketing       4.0    7