In [ ]:
import pandas as pd
import seaborn as sns

#read csv file
customer_data = pd.read_csv("hw_1_customers.csv")

In [37]:
#Info of the Customer Dataset
customer_data.info()

print("-\n-\n-")
print(customer_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB
-
-
-
      CustomerID  Gender  Age  Annual Income ($)  Spending Score (1-100)  \
0              1    Male   19              15000                      39
1              2    Male   21              35000                      81
2              3  Female   20              86000                       6
3              4  Female   23              59000                      77
4              5  Female   31              38000                      40
...          ...     ...  ...                ...                     ...
1995        1996  Female   71             184387                      40
1996        1997  Female   91              73158                      32
1997        1998    Male   87              90961                      14
1998        1999    Male   77             182109                       4
1999        2000    Male   90             110610                      52

         Profession  Work Experience  Family Size
0        Healthcare                1            4
1          Engineer                3            3
2          Engineer                1            1
3            Lawyer                0            2
4     Entertainment                2            6
...             ...              ...          ...
1995         Artist                8            7
1996         Doctor                7            7
1997     Healthcare                9            2
1998      Executive                7            2
1999  Entertainment                5            2

[2000 rows x 8 columns]

In [38]:
#take gender data
gender_data = pd.DataFrame(customer_data["Gender"])

#count Male/Female
#by caculate frequency of data multiple data length
count_Male = gender_data.value_counts(normalize=True)["Male"] * len(gender_data)
count_Female = gender_data.value_counts(normalize=True)["Female"] * len(gender_data)

#print
print("Male: ",round(count_Male))
print("Female: ",round(count_Female))

sns.countplot(x=customer_data["Gender"])

Male:  814
Female:  1186

NameError: name 'sns' is not defined