In [1]:
import pandas as pd
#read csv file
student_score_data = pd.read_csv("task_1_reference_data.csv",index_col="Unnamed: 0")
#index_col設定索引值列

In [2]:
student_score_data

     實作  考試  學習單  平時成績   總成績
1     0   0    0    60   0.0
2     0  65    0    75  16.3
3    85   0   75    85  59.8
4    93  83   95    98  91.3
5    94   0   95    85  70.9
6     0   0    0    60   0.0
7     0   0    0    60   0.0
8     0  78   60    85  43.5
9   100  75   70    98  81.8
10   94   0    0    75  32.9
11    0   0    0    60   0.0
12  100   0    0    75  35.0
13   95  73   70    98  79.5
14   93  78   94    98  89.7
15   91  75   95    98  88.6
16    0   0    0    60   0.0
17   93  75   65    98  77.3
18   96  80   94    98  91.2
19   97  88   94    98  93.6
20   93  88   96    98  93.0
21   95  68    0    85  50.3
22   94  85   95    98  92.2
23   95  80   96    98  91.7
24    0  75   82    85  51.6
25   99  85   65    98  81.9
26   94  95   97    98  95.5

In [4]:
to_do = list(student_score_data['總成績'])
print("班級總人數", len(student_score_data))

班級總人數 26